/* for galaxy fold */

@media screen and (width<=280px) {
  .imageAdjustment {
    height: 80px;
    width: 100px;
  }
  .titleAdjustment {
    font-size: 16px;
  }
  .descriptionAdjustment {
    font-size: 13px;
  }

  .amountAdjustment {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 5px;
  }

  .buttonAdjustment {
    width: 40px;
    height: 30px;
    border: 1px;
    padding: 0px;
    border-radius: 30px;
  }

  .letterAdjustment {
    font-size: 20px;
  }
  .spacesBetweenBoxes {
    padding: 0px;
  }
}

/* for small mobiles */
@media screen and (width>280px) and (width<=375px) {
  .imageAdjustment {
    height: 100px;
    width: 120px;
  }
  .titleAdjustment {
    font-size: 20px;
  }
  .descriptionAdjustment {
    font-size: 14px;
  }

  .amountAdjustment {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 15px;
  }

  .buttonAdjustment {
    width: 40px;
    height: 30px;
    border: 1px;
    padding: 0px;
    border-radius: 30px;
  }

  .letterAdjustment {
    font-size: 20px;
  }
  .spacesBetweenBoxes {
    padding: 1em;
  }
}

/* for mobiles */
@media screen and (width>=376px) and (width<=420px) {
  .imageAdjustment {
    height: 150px;
    width: 161px;
    border: 0px;
    border-radius: 20px;
  }

  .titleAdjustment {
    font-size: 20px;
  }
  .descriptionAdjustment {
    font-size: 14px;
  }

  .amountAdjustment {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 15px;
  }

  .buttonAdjustment {
    width: 45px;
    height: 35px;
    padding: 0px;
    border-radius: 30px;
  }

  .letterAdjustment {
    font-size: 25px;
  }
  .spacesBetweenBoxes {
    padding: 1em;
  }
}

/* for tablets */
@media screen and (width>420px) {
  .imageAdjustment {
    height: 210px;
    width: 300px;
  }

  .titleAdjustment {
    font-size: 30px;
  }
  .descriptionAdjustment {
    font-size: 20px;
  }

  .buttonAdjustment {
    width: 55px;
    padding: 0px;
    border-radius: 30px;
  }

  .letterAdjustment {
    font-size: 30px;
  }

  .amountAdjustment {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 15px;
  }
}

/* for laptops */
@media screen and (width>820px) {
  .imageAdjustment {
    height: 220px;
    width: 300px;
    border: 0px;
    border-radius: 20px;
  }

  .titleAdjustment {
    font-size: 35px;
  }
  .descriptionAdjustment {
    font-size: 25px;
  }
  .spacesBetweenBoxes {
    padding: 5em;
  }

  /* for + and - */
  .letterAdjustment {
    font-size: 35px;
  }

  .amountAdjustment {
    font-size: 45px;
    padding-left: 20px;
    padding-right: 15px;
  }
  .buttonAdjustment {
    width: 60px;
    height: 45px;
    border-radius: 30px;
  }
}
